body {
    background-color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 50px;
    overflow: hidden;
}

li {
    display: inline-block;
    padding: 0px;
    margin:0;
    text-decoration: none;
   
}

li a {
    color: white;
    padding: 14px 16px;
    display: block;
    text-decoration: none;
   
}

li a:hover {
    background-color: black;
}

.card {
    border: 1px solid blue;
    width: 30%;
    
}

.card img {
    height: 100px;
    margin: 0 auto;
}

.people-card {
    border: 1px solid red;
    margin: 5px 10%;
    padding: 5px;
    color: blue;
    display: inline-block;
    min-width: 30%;
    
}

.people-card img {
    padding: 5%;
    height: 100px;
    width: auto;
    margin: 0 auto;
   
}

.people-card h2 {
    color: black;
   
}
